@media (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    footer ,header {
        justify-content: space-between;
        padding: 0 5%;

      nav {
        display: none;
      }


      .feedback_And_Phone {
        .number a{
            margin: 0;
            text-decoration: none;
            color: #fff;
        }
        .button {
          display: none;
        }
      }
    }

 
    main {
        .block1 {
            width: 100%;
            height:  476px;
            background-blend-mode: multiply;
            background: url(./img/image.jpg) , rgb(0, 0, 0, 0.7);
            background-size:cover;
            
    
            .offer{
                width: 339px;
                padding: 0px 0px 0px 0px ;
                padding-top: 85px;
                margin: 0 auto;
           

                .text {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 135.84%;
    
    
                    h2 {
                        margin-bottom: 16px;
                        font-weight: 400;
                        font-size: 23px;
                        line-height: 132.83%;
    
                        span {
                            color:#E3B873;
                        }
                    }
    
                            
                }

                .buttons {
                    flex-direction: column;
                    align-items: center;
                    width: 100%;
                    margin: 40px auto 0px auto;
                    gap: 70px;

                    .buttonOne a{
                        background: #E3B873;
                        box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.3);
                        border-radius: 2px;
                        padding: 20px 82px;
                        
                    }

                    .buttonTwo a{
                        border: 1px solid #FFFFFF;
                        border-radius: 2px;
                        padding: 20px 60px;
                    }
                }
            }
        }

        .block2 {
            width: 100%;
            height: 1631px;
            display: flex;
            justify-content: center;


            .BlockRightImage {


                // ol {
                //     display: none;
                // }

                // .images{
                //   margin: 50px 0 0 0;
                // }
            }
    
           

        .group {
          width: 100%;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          margin: 0px auto 0px auto;

            .BlockLeftText {
                margin-bottom: 20px;
                text-align: center;
                margin: 0 0 50px 0;
                padding: 0;
                width: 311px;
               

                .GeneralTextSmall {
                    position: absolute;
                    padding: 0;
                    margin: 300px  auto 0 auto;
                    width: 340px;
                }

                .textSmall {
                    font-size: 11px;
                    width: 160px;
                    span {
                        font-size: 14px;
                        
                    }
                }

                .sliderButtons {          
                    display: none;
                }
            }
        }


    }

        .block3 {
            margin-top: -890px;
                .video {
                    width: 340px;
                    height: 207px;
                }   
                
                > p {
                    width: 340px;
                    font-size: 11px;
                    line-height: 19px;
                    text-align: center;
                    color: #FFFFFF;
                }


                form {
                
                    .feedbackForm {
                        margin: 0;
                        flex-direction: column;
        
        
                       .formPart {
                        margin: 0;
        
                        span {
                            color: #fff;
                            opacity: .5;
                        }
        
                        input::placeholder {
                            color: #fff;
                            opacity: 1;
                        }
        
                       }

                       .formPart:first-child {
                        margin-bottom: 65px;
                       }
        
                        input {
                          background: none;
                          width: 340px;
                        }

                       
        
                        
        
                        button {
                          width: 340px;
                          position: absolute;
                          margin-top: 300px;
                          box-shadow: 0px 10px 20px rgba(227, 184, 115, 0.1);
                        }
                    }
        
                    .checkboxForms {
                        
                        
                        // .checkbox {
                            
                        // }
        
                        p {
                            color: #fff;
                        }
                    }
                }

                .repair {
                    margin-top: 30px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;
                    .item {
                        margin-bottom: 60px; 
                    }
                }
             }      
             
            
      
}

main .block4 .our_client {
    display: none;
  }

  main .block4 .inneritBox {
    display: none;
  }

 main .block5 {
    background:  #181818;
    margin: 0;
    height: 100%;


    form {
        width: 100%;
        background:  #181818;
        margin-top: 150px;
    }

    .text {
        width: 350px;
    }


    .map{
        width: 350px;
        height: 300px;
        margin: 0 auto;
    }
  }

  main .block5 .bottomBlock5 {
    display: flex;
    flex-direction: column-reverse;
    

    
   .text {
        margin: 0;    
        width: 350px;
        margin-top: 50px;
    }
   }

   footer {
    display: none;
   }

   main .block4 .inneritBox {
    display: none;
  }

  main .block4 .inneritBoxTwo {
    width: 100%;
  }
   main .block4 .inneritBoxTwo .generalInneritBox {
    height: 100%;
    background: none;
    .BlockText {
        display: none;
    }
  }

  main .block4 .inneritBoxTwo .imageTableBox {
    position: relative;
    display: flex;
    gap: 40px;
    margin-top: -950px;
    margin-left: 0;
  }

  main .block4 .inneritBoxTwo .imageTableBox .line2 {
    display: none;
  }

  main .block4 .inneritBoxTwo .imageTableBox .line1 img:nth-of-type(2) {
    display: none;
  }

  main .block4 .inneritBoxTwo .imageTableBox .line1 {
    margin: 0 auto;
  }

  main .block4 .inneritBoxTwo .imageTableBox .line1 img:nth-of-type(1) {
    height: 242px;
    width: 340px;
    margin-top: 850px;
  }

  main .block4 .inneritBoxTwo .imageTableBox .line1 img:nth-of-type(1)::before {
    display: block;
    content: 'We realize your
    wildest fantasies';

  }
  main .block4 .clients {
    display: none;
  }

  main .block4 .inneritBoxTwo .generalInneritBox {
    height: 0%;
    background: none;
  }

  main .block5 form .feedbackFormGeneralBottom .oneLineForm {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  main .block5 form .feedbackFormGeneralBottom .oneLineForm {
    margin: 0;
  }

  main .block5 form .formPart .email {
    width: 350px;
    margin: 0;
  }

  main .block5 form .formPart input {
    width: 350px;
  }

main .block5 form .formPart {
    margin-bottom: 28px;
}

main .block5 form button {
    width: 350px;
  }
}